allowed:
  origins:
    https://engangsstonad.intern.dev.nav.no,
    https://foreldrepenger.intern.dev.nav.no,
    https://foreldrepengesoknad.intern.dev.nav.no,
    https://svangerskapspengesoknad.intern.dev.nav.no,
    https://svangerskapspengesoknad-rework.intern.dev.nav.no,
    https://www.ekstern.dev.nav.no,
    https://www.intern.dev.nav.no,
    https://ansatt.dev.nav.no

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

spring:
  mvc:
    log-request-details: true

virus:
  uri: http://clamav.nais-system/scan

no.nav:
  security:
    jwt:
      client:
        registration:
          fpsoknad-mottak:
            token-exchange:
              audience: dev-fss:teamforeldrepenger:fpsoknad-mottak
          fpoversikt:
            token-exchange:
              audience: dev-gcp:teamforeldrepenger:fpoversikt

oppslag:
  uri: https://fpsoknad-mottak.dev-fss-pub.nais.io/api/
oppslag2:
  uri: http://fpoversikt
mottak:
  uri: https://fpsoknad-mottak.dev-fss-pub.nais.io/api/
pdfgenerator:
  uri: http://fpdokgen
oversikt:
  uri: http://fpoversikt

dato:
  for:
    aatti:
      prosent: 2024-06-18
    minsterett:
      andre: 2024-06-19
