.classpath
.project
.settings
.externalToolBuilders
*.py[co]
*.*~
*\#
*.db
*_old
*.pybundle
*.sublime-workspace
/venv/
/api/_static/
target
.idea/
*.iml
*.log
reports/
node_modules/
repo_test_dir
**/webapp/static/bundle.js
war/src/main/client/build