.factorypath
.classpath
.project
.settings
.externalToolBuilders
*.py[co]
*.*~
*\#
*.db
*_old
*.pybundle
*.sublime-workspace
/venv/
/api/_static/
target
.idea/
*.iml
*.log
reports/
.DS_Store
.java-version
