<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <springProfile name="local, test">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{X-Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
    </springProfile>

    <springProfile name="prod">
        <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
            <Name>CONFIDENTIAL_FILTER</Name>
            <Marker>CONFIDENTIAL</Marker>
            <OnMatch>DENY</OnMatch>
        </turboFilter>
    </springProfile>

    <springProfile name="dev,local,test">
        <logger name="no.nav.security.token.support" level="trace"/>
        <logger name="no.nav.foreldrepenger.selvbetjening" level="trace"/>
        <logger name="org.springframework.web.servlet.resource" level="trace" />
    </springProfile>

    <!-- Turn off Spring's warning logs for already resolved exceptions -->
    <logger name="org.apache.pdfbox.pdfparser.XrefTrailerResolver" level="ERROR" />
    <logger name="org.apache.pdfbox.pdmodel.font" level="ERROR" />
    <logger name="org.apache.pdfbox.rendering.CIDType0Glyph2D" level="ERROR" />
    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
