<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-5level] [%thread] %logger{30} %m%n%rEx</pattern>
        </encoder>
    </appender>

	<appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<logger name="json_logger" level="INFO">
        <appender-ref ref="stdout_json" />
    </logger>

	<root level="info">
		<appender-ref ref="stdout_json" />
	</root>

</configuration>