<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %highlight([%-5level]) [%thread] %cyan(%logger{30}) %m%n%rEx</pattern>
        </encoder>
    </appender>

	<root level="info">
		<appender-ref ref="stdout" />
	</root>

    <logger name="no.nav.security" level="DEBUG" />

</configuration>