name: Bygg og deploy
on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.gitignore'
      - '.editorconfig'
      - '.java-version'
      - 'LICENCE'
      - 'CODEOWNERS'

jobs:
  build-app:
    name: Build
    uses: navikt/fp-gha-workflows/.github/workflows/build-app-no-db.yml@main
    with:
      sonar-scan: true
      build-image: ${{ github.ref_name == 'master' }} # default: true
      push-image: ${{ github.ref_name == 'master' }} # default: false
    secrets: inherit

  create-issue:
    name: Issues
    if: github.ref_name == 'master'
    needs: build-app
    uses: navikt/fp-gha-workflows/.github/workflows/issues.yml@main
    with:
      build-version: ${{ needs.build-app.outputs.build-version }}
    secrets: inherit

  promote:
    name: Deploy til dev-gcp
    if: github.ref_name == 'master'
    needs: [ build-app, create-issue ]
    uses: navikt/fp-gha-workflows/.github/workflows/promote.yml@main
    with:
      issue-number: ${{ needs.create-issue.outputs.issue-number }}
      cluster: dev-gcp
    secrets: inherit

#  snyk:
#    name: Snyk
#    needs: build-app
#    uses: navikt/fp-gha-workflows/.github/workflows/snyk.yml@main
#    with:
#      build-version: ${{ needs.build-app.outputs.build-version }}
#    secrets: inherit
