name: Build PR or branch

on:
  pull_request:
  push:
    branches-ignore:
      - master
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  IMAGE_BASE: ghcr.io/${{ github.repository }}

jobs:
  kompiler:
    runs-on: ubuntu-latest
    steps:

      - name: Sjekk ut kode
        uses: actions/checkout@v2.3.4

      - name: Hent Maven cache
        uses: actions/cache@v2.1.5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Sett opp Java 15
        uses: actions/setup-java@v2
        with:
          java-version: 15
          distribution: 'adopt'

      - name: Kompiler
        run: |
          mvn install --batch-mode --quiet --settings .github/.m2/settings.xml
